
.list-container {
	max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-container h1 {
	margin-bottom: 20px;
    text-align: center;
}

.todo-insert-btn-area {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.todo-insert-btn-area a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.list-container a:hover {
	color: #fff;
    background-color: #007bff;
}

.todo-container {
	display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.todo-box {
    flex: 1 1 300px; /*각 Todo 상자의 너비를 제어하기 위한 Flexbox 속성 */
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todo-header {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.todo-header-btn{
	display: flex;
}

.todo-header-btn button {
	margin: 0 5px;
	padding: 10px 10px;
    border: none;
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer;
    font-size: 16px;
}

.complete-btn {
	background-color: #28a745; /* 초록색 배경 */
    color: #fff; /* 흰색 텍스트 */
}

.incomplete-btn {
	background-color: orange; /* 오렌지 배경 */
    color: #fff; /* 흰색 텍스트 */
}

/*삭제버튼*/
.todo-header-btn button:nth-child(2) {
	background-color: red; /* 파란색 배경 */
    color: #fff; /* 흰색 텍스트 */
}

/*수정버튼*/
.todo-header-btn button:nth-child(3) {
	background-color: #007bff; /* 파란색 배경 */
    color: #fff; /* 흰색 텍스트 */
}


/* 버튼에 호버 효과 추가 */
.todo-header-btn button:hover {
    opacity: 0.8; /* 호버 시 약간 투명도 변경 */
}

.todo-body {
    margin-top: 10px;
}

.todo-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.todo-content {
    color: #666;
}

.todo-insert-section {
	max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todoInsertForm {
	display: flex;
	flex-direction: column;
}

#todoInsertForm label {
	font-size: 18px;
	margin: 10px 0;
}

input[name="todoTitle"],
textarea[name="todoContent"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}

textarea[name="todoContent"] {
	height: 400px;
	resize: none;
}

.insert-btn-area{
	display: flex;
	justify-content: flex-end;	
}

#insert-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#insert-btn:hover {
    background-color: #0056b3;
}
