<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todo.model.mapper.TodoMapper">
	<!--  edu.kh.todo.model.dto.Todo -> Todo 라고 써도 된다 (DBConfig에서 별칭 등록해둠 ) -->
  	<select id="selectAll" resultType="edu.kh.todo.model.dto.Todo">
  		SELECT TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE,
			TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE
		FROM TB_TODO
		ORDER BY TODO_NO
  	</select>
  	
  		
  	<!--  Java int 타입의 별칭 : _int -->
  	
  	<!-- 완료된 할 일 개수 조회 -->
  	<select id="getCompleteCount" resultType="_int">
  		SELECT COUNT(*) 
		FROM TB_TODO
		WHERE COMPLETE = 'Y'
  	</select>
  	
  	
  	<!-- 
  		parameterType : 전달 받은 값(전달 인자)의 타입을 명시
 		-> DTO, Map인 경우 필드명/key를 입력해서 하나씩 꺼낼 수 있음
  	 -->
  	
  	<!-- 할 일 추가 -->
  	<insert id="addTodo" parameterType="edu.kh.todo.model.dto.Todo">
  		INSERT INTO TB_TODO
		VALUES(SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT)
  	</insert>
  	
  	
  	
  	<!-- 할 일 상세 조회 -->
  	<!-- Todo(별칭) == edu.kh.todo.model.dto.Todo(원래이름) -->
  	<select id="todoDetail" parameterType="_int" resultType="Todo">
  		SELECT TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE,
			TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE
		FROM TB_TODO
		WHERE TODO_NO = ${todoNo}
  	</select>
  	
  	
  	
  	<!-- 할 일 삭제 -->
  	<delete id="todoDelete" parameterType="_int">
  		DELETE FROM TB_TODO
  		WHERE TODO_NO = #{todoNo} 
  	</delete>
  	
  	
  	<!-- 할 일 수정 -->
  	
  	<!-- 파라미터가 DTO인 경우 : #{필드명}, ${필드명} -->
  	
  	<!-- 파라미터가 Map인 경우 : #{key}, ${key} -->
  	<update id="todoUpdate" parameterType="Todo">
  		UPDATE TB_TODO SET
  		TODO_TITLE = #{todoTitle},
  		TODO_CONTENT = #{todoContent}
  		WHERE TODO_NO = #{todoNo}
 	</update>
  	
  	
  	<!-- 완료 여부 변경 -->
  	<update id="changeComplete" parameterType="Todo">
  		UPDATE TB_TODO SET
  		COMPLETE = #{complete}
  		WHERE TODO_NO = #{todoNo}
  	</update>
  	
  	
  	
  	<!-- 전체 할 일 개수 조회 -->
  	<select id="getTotalCount" resultType="_int">
  		SELECT COUNT(*) FROM TB_TODO
  	</select>
  	
</mapper>
